.spinner_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  display: inline-block;
  width: 80px;
  height: 80px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #512689;
    border-color: #512689 transparent #512689 transparent;
    animation: rotate 1.2s linear infinite;
  }
}
